@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Containers */

.callout-container {
    height: 100vh;

    background: url('../images/red-die.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar--grey {
    background-color: rgb(141, 153, 174, 0.75);
}

.navbar--grey .navbar-toggler {
    border: 0;
    color: rgb(43, 45, 66);
}

 .navbar--grey a {
    color: rgb(43, 45, 66);
    font-weight: 300;
} 

.navbar--grey li {
    margin: 10px;
    font-size: 20px;
}

.navbar--grey .navbar-brand {
    font-weight: 400;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.navbar--grey .active #active--nav {
    color: rgb(237, 242, 244);
    font-weight: 300;
}



/* Jumbotron */

/* Buttons */

.btn--cta {
    background-color: rgb(239, 35, 60);
    color: rgb(237, 242, 244);
    font-weight: 400;
    font-size: 20px;
}

.btn--cta:hover {
    background-color: rgb(217, 4, 41);
    color: rgb(237, 242, 244);
}