@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(141, 153, 174, 0.75);
    font-size: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

#active--nav {
    color: rgb(237, 242, 244);
}

/* ------------------------------------------------------------- Containers */

.callout-container {
    height: 85vh;

    background: url('../images/red-die.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

 .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
} 

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.meetup-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.how-to-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contact-image-container {
    height: 85vh;

    background: url('../images/dragon-lights.jpg') no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ------------------------------------------------------------- Navbar */

.navbar--grey {
    background-color: rgb(141, 153, 174, 0.75);
}

.navbar--grey .navbar-toggler {
    border: 0;
    color: rgb(43, 45, 66);
}

 .navbar--grey a {
    color: rgb(43, 45, 66);
    font-weight: 300;
} 

.navbar--grey li {
    margin: 1rem;
    font-size: 1.25rem;
    line-height: 1;
}

.navbar--grey .navbar-brand {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.navbar--grey .active #active--nav {
    color: rgb(237, 242, 244);
    font-weight: 300;
}

/* ------------------------------------------------------------- Callout Section */

.jumbotron-header {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: rgb(237, 242, 244);
    font-weight: 500;
    padding: 1rem;
    font-size: 10vw;
}

.jumbotron-sub-header {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: rgb(237, 242, 244);
    font-weight: 200;
    font-size: 6vw;
}

.block-divider {
    width: 50%;
    height: 2px;
    border: 0;
    background-color: rgb(239, 35, 60, 0.75);
    margin-top: 1.5rem;
}

.jumbotron-fluid .lead {
    color: rgb(237, 242, 244);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 5vw;
}

/* ------------------------------------------------------------- Buttons */

.btn--cta {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(239, 35, 60);
    color: rgb(237, 242, 244);
    font-weight: 400;
    font-size: 1.3rem;
}

.btn--cta:hover {
    background-color: rgb(217, 4, 41);
    color: rgb(237, 242, 244);
}

.btn--card {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(239, 35, 60);
    color: rgb(237, 242, 244);
    font-size: 1rem;
}

.btn--card:hover {
    background-color: rgb(217, 4, 41);
    color: rgb(237, 242, 244);
}

.btn--modal,
.btn--contact {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(239, 35, 60);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.btn--modal:hover,
.btn--contact:hover {
    background-color: rgb(217, 4, 41);
    color: rgb(237, 242, 244);
}

/* ------------------------------------------------------------- Signup-info */

.card-deck { 
    margin-top: -5vh;
}

.card-deck .card {
    margin-bottom: 3rem;
    background-color: rgb(237, 242, 244);
    color: rgb(43, 45, 66);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);         /* used box-shadow code from https://codepen.io/sdthornton/pen/wBZdXq */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-deck .card:hover {
    box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .card-body i {
    font-size: 2.5rem;
    color: rgb(239, 35, 60);
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.card .card-body .card-title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.card .card-body .card-text {
    font-family: "Exo", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* ------------------------------------------------------------- Benefits */

.benefits-heading {
    color: rgb(43, 45, 66);
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
}

.benefits-item {
    padding: 3em 3em 1em 3em;
    position: relative;
    color: rgb(43, 45, 66);
    border-left: 2px solid rgb(239, 35, 60);
}

.benefits-non-item {
    padding: 2px;
    position: relative;
    border-left: 2px solid rgb(239, 35, 60);
}

.benefits-item h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 8vw;
}

.benefits-item h3 i {
    color: rgb(217, 4, 41);
}

.benefits-item i {
    display: inline;
}

.benefits-item p {
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.benefits-item:before {
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.benefits-item:after {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
    top: 4em;
    position: absolute;
    left: -0.45rem;
    border-radius: 0.7rem;
    content: '';
    background-color: rgb(217, 4, 41);
}

.benefits-items {
    margin-top: -2.5rem;
    margin-bottom: 3rem;
}

.benefits-footer {
    color: rgb(43, 45, 66);
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
    margin-bottom: 2rem;
}

/* ------------------------------------------------------------- Footer */

footer {
    background-color: rgb(141, 153, 174, 0.75);
    color: rgb(237, 242, 244);
    min-height: 12vh;
    margin: 0;
    padding: 0;
}

.social-links li a i {
    font-size: 4vh;
    padding: 0 0.5rem;
    color: rgb(239, 35, 60);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-media-list {
    margin-bottom: 0rem;
}

.social-links li a i:hover {
    color: rgb(217, 4, 41);
}

/* ------------------------------------------------------------- Meetup Times Carousel */

.carousel {
    height: 60vh;
}

.carousel-inner > .carousel-item > img {
    /* I found this solution to stop images from having a stretched appearance on larger screens here: https://forum.freecodecamp.org/t/my-carousel-images-are-too-big/178311/9 */
    height: 60vh;
    object-fit: cover;
}

/* ------------------------------------------------------------- Meetup Times Cards */

.times-heading {
    color: rgb(43, 45, 66);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
}

#times--card-deck {
    margin-top: 0;
}

#times--card-deck > .times-card > .card-body > .card-title,
#times--card-deck > .times-card > .card-body > .card-text {
    padding: 2rem;
}

.times-footer {
    margin-bottom: 2rem;
}

/* ------------------------------------------------------------- How to Play */

.video-wrapper {
    height: 40vh;
    width: 100%;
}

.video-wrapper>#how-to-video {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.video-caption {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: rgb(43, 45, 66);
    font-size: 3vw;
}

.overview-wrapper {
    margin-top: 1rem;
}

.overview-header {
    color: rgb(43, 45, 66);
    text-align: center;
    text-transform: uppercase;
    font-size: 10vw;
}

.overview-text {
    padding: 1rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: justify;
    color: rgb(43, 45, 66);
    font-size: 3.5vw;
}

/* ------------------------------------------------------------- Contact Image */

.contact-image-header {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(237, 242, 244);
    font-weight: 500;
    padding: 1rem;
    margin-top: -40vh;
    font-size: 15vw;
}

.contact-image-lead {
    position: absolute;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(237, 242, 244);
    font-weight: 300;
    margin-top: 40vh;
    font-size: 5vw;
}

/* ------------------------------------------------------------- Contact Form */

.contact-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 70%;
    color: rgb(43, 45, 66);
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.contact-form .form-control {
    background-color: rgb(237, 242, 244);
}

/* ------------------------------------------------------------- Modal */

.modal-content {
    background-color: rgb(237, 242, 244);
    color: rgb(43, 45, 66);
}

.modal-title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.modal-content .modal-body {
    font-size: 1rem;
    font-family: "Exo", sans-serif;
}

.form-group>.form-control {
    background-color: rgb(237, 242, 244);
}

/* ------------------------------------------------------------- Media Queries */

@media (min-width:308px){
    .navbar--grey .navbar-brand {
        font-size: 1.25rem;
    }
}

@media (min-width:359px){
    .navbar--grey .navbar-brand {
        font-size: 1.5rem;
    }
}

@media (min-width:576px){
    .jumbotron-header,
    .benefits-heading,
    .benefits-footer,
    .times-heading {
        font-size: 2.5rem;
    }

    .contact-image-header {
        font-size: 4.5rem;
    }

    .jumbotron-sub-header,
    .benefits-item h3,
    .contact-image-lead {
        font-size: 1.75rem;
    }

    .jumbotron-fluid .lead {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .social-links li a i {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar--grey li {
        line-height: 1.5;
    }
    .social-links li a i {
        padding: 1.5rem;
    }
    .contact-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .social-links li a i {
        padding: 2rem;
    }
    .contact-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 35%;
    }
}

@media (min-width: 1675px) {
    .callout-container {
        background: url('../images/red-die.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}